{% extends 'base.html' %}

{% block title %}{{ resource.title }} - Resource{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body text-center">
                <i class="fas fa-{% if resource.resource_type == 'guide' %}book{% elif resource.resource_type == 'ebook' %}file-pdf{% elif resource.resource_type == 'template' %}file-word{% else %}file-alt{% endif %}" 
                   style="font-size: 80px; color: #007bff;"></i>
                <h1 class="mt-3">{{ resource.title }}</h1>
                <p><span class="badge bg-primary">{{ resource.get_resource_type_display }}</span></p>
                <p class="lead">{{ resource.description }}</p>
                
                <div class="alert alert-info mt-4">
                    <h5>What you'll get:</h5>
                    <ul class="text-start">
                        <li>Instant access to the resource</li>
                        <li>No email required</li>
                        <li>Free to use and share</li>
                    </ul>
                </div>
                
                <div class="mt-4">
                    {% if resource.file %}
                    <a href="{{ resource.file.url }}" class="btn btn-success btn-lg" download>
                        <i class="fas fa-download"></i> Download Now ({{ resource.file.size|filesizeformat }})
                    </a>
                    {% elif resource.external_link %}
                    <a href="{{ resource.external_link }}" class="btn btn-info btn-lg" target="_blank">
                        <i class="fas fa-external-link-alt"></i> Access Resource
                    </a>
                    {% endif %}
                </div>
                
                <hr class="my-4">
                
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url ' resource_list' %}" class="btn btn-secondary w-100">
                            <i class="fas fa-arrow-left"></i> Browse All Resources
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url ' contact' %}" class="btn btn-primary w-100">
                            <i class="fas fa-question-circle"></i> Need Help?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}